# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
max_line_length = 200
#### Code Analysis Rules ####

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1515: Make types internal
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1508.severity = none